/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# For Gem development, do not lock in the versions of deps. This is to
# mirror how it will be used in practice, with any mix of versions.
Gemfile.lock
